@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESET CSS ---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* VARIABLES ---------------------------------*/

:root {
  --text-color-white: #fff;
  --text-color-blue: #338fd4;
  --text-color-grey: #c3c2c2;

  --color-base-dark-grey1: #242424;
  --color-base-dark-grey2: #201f1f;
  --color-base-blue-fundo: #338fd4;

  --backgraound-color1: linear-gradient(
    170deg,
    rgba(33, 94, 145, 1) 0%,
    rgba(22, 140, 237, 1) 100%
  );
  --backgraound-color2: ;
  --backgraound-color3: ;
}
