/* FONTS GOOGLE
font-family: 'Montserrat', sans-serif;
---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL
---------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color-1);
  text-decoration: none;
  list-style: none;
}

/* VARIABLES
---------------------------------------------------*/

:root{
  --text-color-blue: rgb(51, 143, 212);
  --text-color-grey: rgb(195, 194, 194);
  --text-color-white:rgb(255, 255, 255);

  --base-color-dark-grey1: rgb(36, 36, 36);
  --base-color-dark-grey2: rgb(32, 31, 31) ;

  --gradient-blue:  linear-gradient(170deg, rgba(33,94,145,1) 0%, rgba(22,140,237,1) 100%);
}

/* MENU HEADER
---------------------------------------------------*/
body{
  background-color: var(--base-color-dark-grey2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
}

.title{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--text-color-green);
  border-bottom: 1px solid var(--text-color-grey);
}

/* MENU HEADER DROPDOWN
---------------------------------------------------*/

.header-menu-dropdown {
  position: fixed;
  width: 100%;
  max-width: 29rem;
  height: 3rem;
  background: var(--base-color-dark-grey1);
}

.header-menu-dropdown::before{
  content: '';
  position: absolute;
  top: 25px;
  right: 28px;
  width: 12px;
  height: 2px;
  background-color: var(--text-color-grey);
  z-index: 10;
  transform: rotate(40deg);
  transition: .5s;
}

.header-menu-dropdown.active::before{
  right: 20px;
}

.header-menu-dropdown::after{
  content: '';
  position: absolute;
  top: 25px;
  right: 20px;
  width: 12px;
  height: 2px;
  background-color: var(--text-color-grey);
  z-index: 10;
  transform: rotate(-40deg);
  transition: .5s;
}

.header-menu-dropdown.active::after{
  right: 28px;
}

.header-menu-dropdown input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: .8rem 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--base-color-2);
  outline: none;
  border: none;
  color: var(--text-color-grey);
}

/* MENU HEADER OPTION LINKS
---------------------------------------------------*/

.header-menu-dropdown .option {
  position: absolute;
  top: 3rem;
  width: 100%;
  background: var(--base-color-dark-grey1);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .25s;
}

.header-menu-dropdown.active .option{
  visibility: visible;
  opacity: 1;
}

.header-menu-dropdown .option ul{
  padding: 1rem 1rem 1rem 0rem ;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.header-menu-dropdown .option ul li a{
  font-size: 14pt;
  color: var(--text-color-grey);
}

.header-menu-dropdown .option ul li span i{
  font-size: 14pt;
  color: var(--text-color-grey);
}

.header-menu-dropdown .option ul li{
  padding: .5rem 1rem;
}

.header-menu-dropdown .option ul li:hover{
  background: var(--text-color-blue);
}

/* SECTION INTRODUCTION
---------------------------------------------------*/
.aling-text{
  width: 100%;
  text-align: center;
}

#section-introduction{
  background: var(--base-color-gradient-bottom);
  height: 100vh;
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#section-introduction h1 {
  font-size: 6rem;
  font-weight: 800;
  color: var(--text-color-blue);
}

#section-introduction h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color-grey);
}

#section-introduction p {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text-color-grey);
}

#section-introduction img {
  width: 100%;
}

/* SECTION ABOUT ME
---------------------------------------------------*/

#section-about-me{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 6)), url(/img/Perfil.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 8rem 0rem;
}

#aboutme-text{
  width: 100%;
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#aboutme-text h2{
  font-size: 2.2rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--text-color-blue);
}

#aboutme-text h3{
  font-size: 1.5rem;
  font-weight: 400;
  width: 18rem;
  text-align: center;
  color: var(--text-color-grey);
  padding: .5rem 0rem;
}

.container-card {
  font-size: .9rem;
  width: 100%;
  text-align: justify;
  margin-top: 5rem;
  padding: 2rem 1rem;
  color: var(--text-color-grey);
  transition: 1s;
}

.container-card.open-visual {
  transition: 1s;
  background: var(--gradient-blue);
  color: var(--text-color-white);
}

#aboutme-text button {
  background: transparent;
  border: none;
  margin-top: 2rem;
}

#aboutme-text button i {
  color: var(--text-color-grey);
  font-size: 1.5rem;
}

#aboutme-text h4 {
  color: var(--text-color-grey);
  font-size: .8rem;
  font-weight: 300;
}

/* SECTION ABOUT ME
---------------------------------------------------*/

