@media screen and (min-width: 1200px) {
  .defaut_section{
    max-width: 120rem;
  }
  
  .container_introduction{
    flex-direction: row;
    align-items: center;

    justify-content: space-around;
  }

  .introduction_img img {
    max-width: 40rem;
  }

  .introduction_text {
    width: 40rem;
  }

  .introduction_text h1{
    font-size: 10rem;
  }

  .introduction_text p{
    font-size: 8rem;
  }
  
  .introduction_text p{
    font-size: 1.2rem;
    text-align: justify;
  }
}