/* FONTS GOOGLE POPPINS ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESET CSS ---------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  list-style: none;
}

body{
  background: var(--color-backgraund01);
}

.flex_colum{
  display: flex;
  flex-direction: column;
}

.default_container{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-backgraund04);
}

.presentation_title {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-text-03);
}

/* VARIABLES ---------------------------------*/

:root{
  --color-text-01:rgb(255, 255, 255);
  --color-text-02: rgba(255, 255, 255, 0.8);
  --color-text-03:rgb(51, 143, 212);
  --color-text-04:rgb(36, 36, 36);
  --color-text-05:rgb(189, 193, 197);

  --color-backgraund01: rgb(36, 36, 36);
  --color-backgraund02: rgb(32, 31, 31);
  --color-backgraund03: rgb(51, 143, 212);
  --color-backgraund04: rgb(189, 193, 197);
  --color-backgraund05: rgb(255, 255, 255);
  --color-backgraund06: rgb(228, 233, 247);
  --color-backgraund07: rgb(246, 245, 255);
  --color-backgraund07: rgb(232, 232, 232);

}

/* HEADER TOP BAR ------------------------------*/

#header_topBar {
  background: var(--color-backgraund02);
  text-align: center;
}

#button_openmodal {
  border: none;
  background: transparent;
}

#button_openmodal i {
  font-size: 2.4rem;
  cursor: pointer;
}

/*-------------------------------------*/

#header_modalSide {
  width: 100%;
  max-width: 25rem;
  height: 100vh;
  background: var(--color-backgraund02) ;
  padding: 3rem 2rem;
}

#modalSide_option {
  gap: .5rem;
  margin-bottom: 4rem;
}

#modalSide_input {
  font-size: 1.2rem;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-backgraund01);
  color: var(--color-text-02);
  opacity: .7;
}

#modalSide_option a {
  font-size: 1.2rem;
  padding: .6rem 2rem;
  border-radius: 3px;
  opacity: .6;
  transition: all .6s ease;
}

#modalSide_option a:hover {
  color: var(--color-text-01);
  opacity: 1;
  background: var(--color-backgraund03);
  transform: translateX(20px);
}

/*-------------------------------------*/

#modalSide_language h4,
#modalSide_DarkOrLight h4 {
  font-weight: 400;
  opacity: .8;
}

.button_language {
  background: transparent;
  border: none;
}

.button_language img{
  width: 40px;
  margin-right: .3rem;
  opacity: .6;
  cursor: pointer;
  transition: all .6s ease;
}

.button_language img:hover {
  opacity: 1;
  transform: translateY(-6px);
}

/* FALTA CRIAR O INPUT CHECK BOX
-------------------------------------*/

/* SECTION INTRODUCTION ------------------------------*/

#introduction_text {
  width: 100%;
  max-width: 37.5rem;
  text-align: center;
}

#introduction_text h1{
  font-size: 15rem;
  line-height: 13rem;
  font-weight: 900;
  color: var(--color-text-03);
}

#introduction_text h2{
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-text-02);
}

#introduction_text blockquote{
  width: 30rem;
  margin: 0 auto;
  padding: 3rem 0rem;
  text-align: justify;
}

#introduction_img img {
  width: 100%;
  max-width: 37.5rem;
}

/* SECTION ABOUT ME  ------------------------------*/

#aboutMe_text {
  width: 100%;
  max-width: 37.5rem;
  text-align: justify;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), 
  -15px -15px 30px rgb(60, 60, 60);
  padding: 2rem;
  border-radius: 20px;
}

#aboutMe_text h3 {
  font-size: 1.5rem;
  margin-top: -.5rem;
  font-weight: 300;
}

#aboutMe_blockquote {
  margin: 2rem 0rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-weight: 300;
  transition: all .6s ease-in;
}

#aboutMe_blockquote.activeBlockquote {
  background-color: rgba(240, 240, 240, 0.774);
  color: var(--color-text-04);
  transform: scale(1.1);
}

/*-----------------------------*/

#aboutMe_itens {
  text-align: center;
}

#aboutMe_itens button {
  width: 20px;
  margin: 0 auto;
  background: transparent;
  border: none;
  cursor: pointer;
}

#aboutMe_itens button i {
  font-size: 1.8rem;
}

#aboutMe_itens h5{
  font-size: .8rem;
  font-weight: 200;
  margin-bottom: .5rem;
}

.share_content01{
  height: 1px;
  width: 20rem;
  margin: 0 auto;
  background: var(--color-backgraund03);
}

/*-----------------------------*/

#aboutMe_img {
  background-image: url(/img/Perfil.jpg);
  background-size: cover;
  background-position: center;
  width: 36rem;
  height: 35rem;
  opacity: .5;
  border-radius: 50rem;
}

/* SECTION INFORMATION AND SKILLS ------------------*/

#container_infoAndSkills { 
  flex-direction: column;
}

#container_infoAndSkills h3 { 
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: .6rem;
}

#content_information {
  margin-top: 1rem;
}

#content_information ul li {
  margin: .5rem 0rem;
  width: 30rem;
  border-radius: 10px;
}

#content_personalSkills {
  margin: 2rem 0rem;
}

#content_personalSkills ul li {
  list-style: disc;
  margin-left: 5rem;
}

/*-----------------------------*/

.card_technology {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card_technology img {
  width: 4.2rem;
}

.progress_bar {
  width: 20rem;
  height: 13px;
  background-color: rgba(221, 221, 221, 0.582);
  border-radius: 20px;
}

.progress_value {
  height: 13px;
  background-color: var(--color-backgraund03);
  border-radius: 20px;
}

.valhtml {
  width: 65%;
}

.valcss {
  width: 53%;
}

.valjs {
  width: 32%;
}