/* FONTS GOOGLE POPPINS ----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESET CSS ---------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  color: var(--text-color-01);
}

:root{
  --text-color-00: #F5F5F5;
  --text-color-01: #CCCCCC;
  --text-color-02: #585858;
  --text-color-03: #0078F2;
  --text-color-04: ;

  --backgraund-color-00: #121212;
  --backgraund-color-01: #2A2A2A;
  --backgraund-color-02: #585858;
  --backgraund-color-03: #CCCCCC;
  --backgraund-color-04: #F5F5F5;
  --backgraund-color-05: #0078F2;
}

body{
  background-color: var(--backgraund-color-00);
}

/* DEFAULT  ---------------------------------*/

.default_section{
  border-bottom: 1px solid var(--backgraund-color-02);
  padding: 0rem .6rem;
}

.default_container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.presentation_title{
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--text-color-03);
}

/* SECTION HEADER  ---------------------------------*/

/* BUTTON HEADER --------*/
#header_topBar{
  background-color: var(--backgraund-color-01);
  text-align: center;
  border-bottom: 1px solid var(--backgraund-color-02);
  position: fixed;
  width: 100%;
  z-index: 100;
}

#button_openmodal{
  background: transparent;
  border: none;
  cursor: pointer;
}

#button_openmodal i{
  font-size: 2rem;
  color: var(--text-color-01);
}

/* MODAL SIDE --------*/

#header_modalSide{
  background: var(--backgraund-color-01);
  width: 100%;
  max-width: 25rem;
  height: 95vh;
  padding: 2rem 1rem;
  position: fixed;
  top: 47px;
  z-index: 99;
  left: -25rem;
  transition: all .6s ease-in-out;
}

#header_modalSide.activeModal {
  left: 0rem;
}

#modalSide_option{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  margin-bottom: 5rem;
}

#modalSide_option input {
  font-size: 1.2rem;
  color: var(--backgraund-color-03);
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--backgraund-color-03);
  opacity: .6;
  padding: .2rem 0rem;
}

#modalSide_option a {
  color: var(--text-color-01);
  padding: .8rem;
  border-radius: 2px;
  font-size: 1rem;
  transition: all .6s ease;
  font-weight: 300;
}

#modalSide_option a i {
  font-size: 1rem;
  margin-right: 10px;
}

#modalSide_option a:hover{
  background: var(--backgraund-color-05);
  color: var(--text-color-00);
  transform: translateX(-10px);
}

#modalSide_language h4,
#modalSide_DarkOrLight h4{
  color: var(--text-color-01);
  font-weight: 300;
}

#modalSide_language .button_language{
  background: transparent;
  border: none;
}

.button_language img {
  width: 35px;
  opacity: .6;
  transition: all .6s ease;
  cursor: pointer;
}

.button_language:hover img {
  opacity: 1;
  transform: translateY(-6px);
}

#modalSide_DarkOrLight{
  margin-top: 3rem;
}

/* SECTION INTRODUCTION  ---------------------------------*/

#container_introduction {
  justify-content: end;
}

#introduction_text h1 {
  text-transform: uppercase;
  font-size: 8rem;
  font-weight: 900;
  line-height: 6rem;
  color: var(--text-color-03);
}

#introduction_text h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
}

#introduction_text blockquote {
  font-size: .9rem;
  font-weight: 400;
  width: 100%;
  max-width: 30rem;
  margin: 2rem 0rem;
  text-align: justify;
}

#introduction_img img {
  width: 100%;
  max-width: 30rem;
}

/* SECTION ABOUT ME  ---------------------------------*/

#container_aboutMe {
}

#aboutMe_text {
  text-align: left;
  background-color: var(--backgraund-color-01);
  padding: 2rem 1rem;
  border-radius: 5px;
}

#aboutMe_text h2{
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.5rem;
  margin: 0;
}

#aboutMe_text h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid var(--backgraund-color-02);
}

#aboutMe_text blockquote{
  font-size: .9rem;
  padding: 2rem 1rem;
  font-weight: 300;
  text-align: justify;
}

/* SECTION INFO AND SKILLS  ---------------------------------*/

#container_infoAndSkills{
  padding: 2rem 0rem;
}

#content_information h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

#content_information ul li{
  padding: 1rem .5rem;
  margin-bottom: .5rem;
  text-align: left;
  border-bottom: 1px solid var(--backgraund-color-02);
  transition: all .6s ease-in-out;
  font-size: .8rem;
}

#content_information ul li strong {
  font-size: .8rem;
}


#content_personalSkills {
  margin: 5rem 0rem;
}

#content_personalSkills h3{
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: .8rem 0rem;
}

.card_skill {
  background: var(--backgraund-color-01);
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  text-align: justify;
  border-radius: 5px;
  height: 13rem;
}

.card_skill h4{
  margin-bottom: .5rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--backgraund-color-02);
}

.card_skill p{
  font-size: .8rem;
  padding: 1rem 0rem;
} 

#container_technology {
  width: 100%;
}

.card_technology{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.card_technology img {
  width: 50px;
}

.progress_bar {
  width: 13rem;
  height: .7rem;
  background: var(--backgraund-color-02);
  border-radius: 5px;
}

.progress_value {
  background: var(--backgraund-color-05);
  width: 50%;
  height: .7rem;
  border-radius: 5px;
}

/* SECTION INFO AND SKILLS  ---------------------------------*/

.card_experience {
  width: 100%;
  max-width: 30rem;
  cursor: pointer;
  margin-bottom: .5rem;
}

.content_experience {
  text-align: center;
  position: relative;
  background: var(--backgraund-color-01);
  transition: all .8s ease;
  padding: 5em;
  transform-style: preserve-3d;
}

.card_experience:hover .content_experience {
  transform: rotateY(.5turn);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.title {
  transform: translateZ(5rem);
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1rem;
}

.subtitle {
  transform: translateZ(2rem);
  font-size: .9rem;
  font-weight: 300;
}

.back {
  transform: rotateY(0.5turn);
  background-color: #009bff;
}

.description {
  transform: translateZ(3rem);
}

/* SECTION INFO AND SKILLS  ---------------------------------*/