/* ALL SECTION  ---------------------------------*/
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-base-dark-grey1);
}


.defaut-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.arrow-next{
  font-size: 2rem;
  color: var(--text-color-grey);
  position: absolute;
  align-self:  flex-end;
  vertical-align: bottom;
  line-height: 2rem;
}

.title_section{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--text-color-blue);
}

section{
  height: 100vh;
  width: 100%;
  max-width: 42rem;
}

#section_introduction{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#section_aboutme{
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 6)), url(/img/Perfil.jpg);
  background-position: center;
  background-size: cover;
}

#section_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section_experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section_academic{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MENU HEADER DROPDOWN
---------------------------------------------------*/
header{
  background: var(--color-base-dark-grey2);
  width: 100%;
  align-items: center;
}

.header-menu-dropdown {
  position: absolute;
  width: 100%;
  max-width: 40rem;
  height: 3rem;
  background: var(--color-base-dark-grey2);
}

.header-menu-dropdown::before{
  content: '';
  position: absolute;
  top: 25px;
  right: 28px;
  width: 12px;
  height: 2px;
  background-color: var(--text-color-white);
  z-index: 10;
  transform: rotate(40deg);
  transition: .5s;
}

.header-menu-dropdown.active::before{
  right: 20px;
}

.header-menu-dropdown::after{
  content: '';
  position: absolute;
  top: 25px;
  right: 20px;
  width: 12px;
  height: 2px;
  background-color: var(--text-color-white);
  z-index: 10;
  transform: rotate(-40deg);
  transition: .5s;
}

.header-menu-dropdown.active::after{
  right: 28px;
}

.header-menu-dropdown input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: .8rem 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--base-color-2);
  outline: none;
  border: none;
  color: var(--text-color-grey);
}

/* MENU HEADER OPTION LINKS
---------------------------------------------------*/

.header-menu-dropdown .option {
  top: 3rem;
  width: 100%;
  background: var(--color-base-dark-grey2);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .25s;
}

.header-menu-dropdown.active .option{
  visibility: visible;
  opacity: 1;
}

.header-menu-dropdown .option ul{
  padding: 1rem 1rem 1rem 0rem ;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.header-menu-dropdown .option ul li a{
  text-decoration: none;
  font-size: 14pt;
  color: var(--text-color-grey);
}

.header-menu-dropdown .option ul li span i{
  font-size: 14pt;
  color: var(--text-color-grey);
  margin-right: 10px;
}

.header-menu-dropdown .option ul li{
  padding: .5rem 1rem;
}

.header-menu-dropdown .option ul li:hover{
  background: var(--text-color-blue);
}

/* SECTION INTRODUCTION  ---------------------------------*/

.container_introduction h1{
  font-size: 6rem;
  font-weight: 900;
  color: var(--text-color-blue);
}

.container_introduction h2{
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text-color-grey);
  margin-top: -1.3rem;
  margin-bottom: 3rem;
  background-color: ;
}

.container_introduction p{
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  color: var(--text-color-grey);
  line-height: 25px;
}

.container_introduction img{
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
}

/* SECTION ABOUT ME  ---------------------------------*/

.container-aboutme h2{
  color: var(--text-color-blue);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}

.container-aboutme h3{
  color: var(--text-color-grey);
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.container-aboutme p{
  color: var(--text-color-grey);
  text-align: justify;
  padding: 3rem 1rem; 
  margin-bottom: 3rem;
}

.container-aboutme .p-active{
  background: var(--backgraound-color1);
  color: var(--text-color-white);
}

.container-aboutme i{
  color: var(--text-color-grey);
  font-size: 2rem;
}

.container-aboutme span{
  color: var(--text-color-grey);
  text-transform: uppercase;
  font-size: .6rem;
}

/* SECTION INFORMATION / SKILL  ---------------------------------*/

.container_info{
  width: 22rem;
  margin: auto;
}

.container_info ul {
  padding: 2rem 4rem;
  text-align: left;
}

.container_info ul li{
  color: var(--text-color-grey);
  font-size: .8rem;
  margin-bottom: 10px;
}

.card-information ul {
  list-style: none;
  padding: 2rem 1rem;
}

.container_skill{
  display: flex;
  justify-content: space-around;
}

.skill_card{
  display: flex;
  flex-direction: column;
  color: var(--text-color-grey);
  transition: 0.5s;
}

.skill_card:hover{
  transform: scale(1.2);
  color: var(--text-color-white);
}

.skill_card i {
  font-size: 5.5rem;
}

/* SECTION INFORMATION / SKILL  ---------------------------------*/

.information_card{
  background: var(--backgraound-color1);
  margin-top: 2.5rem;
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--text-color-white);
}

.information_card h3{
  font-size: 1.4rem;
  font-weight: 500;
}

.information_card h4{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.information_card p{
  font-size: .8rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.information_card i{
  font-size: 1rem;
}

.information_card span{
  font-size: .8rem;
  font-weight: 200;
}

/* FOOTER  ---------------------------------*/

footer{
  width: 100%;
  height: 20rem;
  background-color: var(--text-color-white);
}
