/* GLOBAL ---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESET CSS ---------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color-grey);
}

/* VARIABLES ---------------------------------*/

:root {
  --text-color-white: #fff;
  --text-color-blue: #338fd4;
  --text-color-grey: #c3c2c2;

  --color-base-dark-grey1: #242424;
  --color-base-dark-grey2: #201f1f;
  --color-base-blue-fundo: #338fd4;
  --color-base-light: rgb(224, 221, 221);

  --backgraound-color1: linear-gradient(
    170deg,
    rgb(33, 94, 145) 0%,
    rgb(22, 140, 237) 100%
  );
  --backgraound-color2: linear-gradient(
    180deg, 
    rgba(131,195,250,1) 0%,
    rgba(0,60,110,1) 100%
    );
  --backgraound-color3: ;
}

html{
  scroll-behavior: smooth;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-base-dark-grey1);
}

/* CLASS GLOBAL ---------------------------------*/

.defaut_section{
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 45rem;
  border-bottom: 1px solid var(--text-color-grey);
  visibility: hidden;
}

.defaut_flex_colum {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title_section {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  visibility: hidden;
  background: var(--backgraound-color1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-next {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: .6s;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: var(--color-base-dark-grey1);
}

.arrow-next a i {
  transition: all .6s;
  color: var(--text-color-blue);
  font-size: 2.5rem;
}

.arrow-next:hover a i {
  color: var(--text-color-white);
}

/* MENU HEADER DROPDOWN
---------------------------------------------------*/
header {
  background: var(--color-base-dark-grey2);
  width: 100%;
  position: fixed;
  z-index: 99;
}

.header_dropdown_menu {
  position: relative;
  width: 100%;
  max-width: 30rem;
  margin: auto;
  height: 3.5rem;
  background: var(--color-base-dark-grey2);
}

.header_dropdown_menu::before {
  content: '';
  position: absolute;
  top: 26px;
  right: 28px;
  width: 12px;
  height: 2px;
  background-color: var(--text-color-grey);
  z-index: 10;
  transform: rotate(40deg);
  transition: 0.5s;
}

.header_dropdown_menu.active::before {
  right: 20px;
}

.header_dropdown_menu::after {
  content: '';
  position: absolute;
  top: 26px;
  right: 20px;
  width: 12px;
  height: 2px;
  background-color: var(--text-color-grey);
  z-index: 10;
  transform: rotate(-40deg);
  transition: 0.5s;
}

.header_dropdown_menu.active::after {
  right: 28px;
}

.header_dropdown_menu input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 1rem 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--base-color-2);
  outline: none;
  border: none;
  color: var(--text-color-grey);
}

/* MENU HEADER OPTION LINKS
---------------------------------------------------*/

.header_dropdown_menu .nav_dropdown_option {
  top: 3rem;
  width: 100%;
  background: var(--color-base-dark-grey2);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s;
}

.header_dropdown_menu.active .nav_dropdown_option {
  visibility: visible;
  opacity: 1;
}

.nav_dropdown_option {
  display: flex;
  flex-direction: column;
}

.nav_dropdown_option a {
  text-decoration: none;
  color: var(--text-color-grey);
  font-size: 14pt;
  padding: 1rem 2.5rem;
  margin-bottom: 2px;
}

.nav_dropdown_option a:hover {
  transition: all 0.5s;
  background-color: #338fd4;
  color: var(--text-color-white);
}

.nav_dropdown_option a i {
  margin-right: 0.5rem;
}

/* SECTION INTRODUCTION  ---------------------------------*/

.container_introduction{
  justify-content: end;
}

.introduction_text h1 {
  font-size: 9rem;
  font-weight: 900;
  line-height: 7rem;
  background: var(--backgraound-color1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introduction_text h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text-color-grey);
}

.introduction_text blockquote {
  max-width: 30rem;
  margin: 0 auto;
  color: var(--text-color-grey);
  line-height: 1.2rem;
  padding: 3rem 1rem;
}

.introduction_img img {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

/* SECTION ABOUT ME  ---------------------------------*/

#section_aboutme {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 6)),
    url(/img/Perfil.jpg);
  background-position: center;
  background-size: cover;
}

.container-aboutme{
  justify-content: center;
}

.aboutme_text h2 {
  color: var(--text-color-blue);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
}

.aboutme_text h3 {
  color: var(--text-color-grey);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

.aboutme_text blockquote {
  color: var(--text-color-grey);
  text-align: justify;
  padding: 3rem 2rem;
  max-width: 30rem;
  margin: 0 auto;
  transition: all .6s;
}

.aboutme_text .p-active {
  transition: all .6s;
  transform: scale(1.05);
  background: var(--backgraound-color1);
  color: var(--text-color-white);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 3rem 2rem;
}

.aboutme_itens {
  display: none;
}

.aboutme_itens button {
  background: transparent;
  width: 30px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.aboutme_itens i {
  color: var(--text-color-grey);
  font-size: 2rem;
}

.aboutme_itens span {
  color: var(--text-color-grey);
  text-transform: uppercase;
  font-size: 0.6rem;
}

.content-divider {
  background: var(--backgraound-color1);
  width: 18rem;
  height: 1.5px;
  margin: 0 auto;
  margin-top: .8rem;
}

/* SECTION INFORMATION / SKILL  ---------------------------------*/

.container_info {
  justify-content: center;
}

.container_info ul {
  padding: 2rem 4rem;
  text-align: left;
  width: 100%;
  max-width: 22rem;
  margin: 0 auto;
}

.container_info ul li {
  color: var(--text-color-grey);
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.card-information ul {
  list-style: none;
  padding: 2rem 1rem;
}

.container_skill {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 26rem;
  margin: 0 auto;
}

.skill_card {
  display: flex;
  flex-direction: column;
  color: var(--text-color-grey);
  transition: 0.5s;
}

.skill_card:hover {
  transform: scale(1.2);
  color: var(--text-color-blue);
}

.skill_card i {
  font-size: 5.5rem;
}

/* SECTION EXPERIENCIE / ACADEMIC  ---------------------------------*/

.container_experience, .contaienr_academic{
  justify-content: center;
}

.info_card {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 1rem;
}

.info_card_content {
  text-align: center;
  position: relative;
  transition: all .8s;
  background: var(--color-base-dark-grey2);
  border: 2px solid var(--color-base-blue-fundo);
  padding: 5em;
  transform-style: preserve-3d;
  color: var(--text-color-grey);
}

.info_card:hover .info_card_content {
  transform: rotateY(0.5turn);
}

.front_card h3{
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.front_card p{
  font-size: .8rem;
  margin-bottom: .5rem;
}

.front_card h4{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.front_card i{
  font-size: 1rem;
}

.front_card span{
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 400;
}

.front_card,
.back_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: .5em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.title {
  transform: translateZ(5rem);
  font-size: 2rem;
}

.subtitle {
  transform: translateZ(2rem);
}

.back_card {
  transform: rotateY(0.5turn);
  background: var(--backgraound-color1);
}

.description {
  font-size: .8rem;
  text-align: justify;
  color: var(--text-color-white);
  font-weight: 300;
  padding: .5rem;
  transform: translateZ(3rem);
}

.description_ul {
  width: 100%;
  max-width: 22rem;
  margin: auto;
  font-size: .8rem;
  text-align: justify;
  color: var(--text-color-white);
  font-weight: 300;
  padding-left: 2rem;
}


/* SECTION PROJECT  ---------------------------------*/

.container_project{
  justify-content: center;
}

.content_slide_item h3 {
  height: 3rem;
  font-size: 13pt;
  text-transform: uppercase;
  padding: .5rem 0rem;
  color: var(--text-color-grey);
}

.content_slide_item p {
  color: var(--text-color-grey);
  height: 5rem;
  font-size: 10pt;
  border-bottom: 1px solid var(--text-color-grey);
  padding: 0rem 2rem;
}

.content_slide_item p strong {
  color: #338fd4;
}

.content_slide_item img {
   width: 100%;
}

.slide {
  max-width: 30rem;
  height: 95vh;
  margin: 0 auto;
  display: grid;
}

.slide-items {
  position: relative;
  grid-area: 1/1;
  overflow: hidden;
}

.slide-nav {
  grid-area: 1/1;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.slide-nav button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.slide-items > * {
  position: absolute;
  top: 0px;
  opacity: 0;
  pointer-events: none;
}

.slide-items > .active {
  position: relative;
  opacity: 1;
  pointer-events: initial;
}

.slide-thumb {
  display: flex;
  grid-column: 1 / 3;
}

.slide-thumb > span {
  flex: 1;
  display: block;
  height: 4px;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.slide-thumb > span.active::after {
  content: '';
  display: block;
  height: inherit;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  transform: translateX(-100%);
  animation: thumb 8s forwards linear;
}

@keyframes thumb {
  to {
    transform: initial;
  }
}

/* FOOTER  ---------------------------------*/

#section-contact {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base-dark-grey2);
}

#section-contact h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-grey);
}

#section-contact p {
  width: 100%;
  max-width: 40rem;
  font-size: .8rem;
  color: var(--text-color-grey);
  text-align: center;
  font-weight: 300;
}

#section-contact h4 {
  font-size: .8rem;
  font-weight: 300;
  margin-top: 20px;
  color: var(--text-color-grey);

}

#section-contact .icon_contact{
  width: 100%;
  max-width: 15rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

#section-contact .icon_contact a i {
  color: var(--text-color-blue);
  font-size: 2rem;
}

#section-contact .icon_contact a:hover{
  transition: .6s;
  transform: scale(1.2);
}

/* SECTION LIGHT MODE  ---------------------------------*/

main.lightmode{
  background: var(--color-base-light);
}

main.lightmode h2,
main.lightmode h3,
main.lightmode h4,
main.lightmode p,
main.lightmode span {
  color: var(--color-base-dark-grey1);
}





